* {
	/*outline: red 1px solid;*/
  box-sizing: border-box;

}
body {
  background-color: black;
  width: 100%;
  /*height: 600px;*/
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}

.text-content {
  margin-left: 700px;
  margin-top: -400px;
  color: black;
  width: 400px;
  height: 100px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.ryu {
  width: 659px;
  height: 494px;

}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
  /*display: block;*/
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  display: none;
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  display: none;
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
  display: none;
}

.hadouken, .ryu-throwing, .ryu-ready, .ryu-still, .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
  top: 167px;
  left: 520px;
}
